/* @import url("https://fonts.googleapis.com/css2?family=Lora&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,600&family=Roboto+Slab:wght@300;400;500;700;800&display=swap"); */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto slab" sans-serif;
  z-index: 10;
  background-color: #135780;
  background-color: #3612d6;
  background-image: linear-gradient(315deg, #0cbaba 0%, #380036 74%);
}
 a {
  text-decoration: none;
 }
 li {
  list-style: none;
 }
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  color: #fff;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
 
  z-index: 10;
  background-color: #135780;
  background-color: #3612d6;
  background-image: linear-gradient(315deg, #0cbaba 0%, #380036 74%);
 }
 .nav-links a {
  color: #fff;

 }
 /* logo*/
 .logo {
  font-size: 32px;
  /* font-size: 85px; */
  font-weight: bold;
  color: rgb(20, 20, 20);
  padding-right: 15px;
  padding-left: 100px;
  padding-top: 25px;
 
 
/* Some animation to the header logo */
  text-shadow: 0 0 50px rgb(0, 223, 252),
              0 0 50px rgb(10, 12, 161),
              0 0 50px rgb(252, 0, 126),
              0 0 50px lawngreen,
              0 0 50px rgb(252, 0, 55);
  animation: animate 5s linear infinite;

@keyframes: animate {
      0%{
          filter :hue-rotate(0deg);
      }
filter: hue-rotate(360deg) ;
}
 
 }
 

 h1{
  position: absolute;
  margin-top: -25px;
  margin-left: 50px;
  font-size: 35px;
  color: white;
  letter-spacing: 5px;
}

ul.social-set {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  list-style: none;
  margin: 160px;
  padding: 0;
  height: auto;
  width: auto;
  gap: 25px;
}
ul.social-set li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

a.sociali {
  font-size: 55px;
  line-height: 25px;
  padding: 10px;
  color: #fff;
  margin-right: 30px;
  margin-bottom: 30px !important;
  padding-bottom: 10px !important;
}
a.sociali:hover,
a.sociali:focus {
  background: #6d8785;
}

div .btn-experience {
  position:absolute;
  padding: 10px 70px;
  border: none;
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;
  margin-top: -105px;
  margin-left: 20px;
} 

 .menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
   }
   .menu li:hover {
    background-color: #1a7272;
    border-radius: 5px;
    transition: 0.3s ease;
   }
   .menu li {
    padding: 5px 14px;
   }
  

input[type=checkbox]{
    display: none;
   } 
   /* humburger menu*/
   .hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
   }
   /* Querie media */
   @media screen and (max-width: 768px) {
   .menu { 
    display:none;
    position: absolute;
    /* background-color:rgb(91, 175, 175); */
    right: -250px;
    left: 0;
    text-align: center;
    padding: 16px 0;
    margin-left: 0px;
    z-index: 1;
    line-height: 10px;

   }
   .menu li:hover {
      display: inline-block;
      background-color:#4c9e9e;
      transition: 0.3s ease;
   }
   .menu li + li {
      margin-top: 12px;
   }
   input[type=checkbox]:checked ~ .menu{
    display: block;
   }
   .hamburger {
     position: absolute;
    display: block;
    font-size: 12px;
    margin-left: -120px;
  
   }
   .logo {
    font-size: 25px;
    font-weight: bold;
    color: rgb(20, 20, 20);
    padding-top: 25px;
    padding-left: 40px; 
  } 
   .social{
     
     margin-top: 280px;
    
   }
   h1{
    position: absolute;
    margin-left: 20px;main-body
    font-size: 25px;
    letter-spacing: normal;
  }
  div .btn-experience{
    position:absolute;
    padding: 6px;
    margin-left: 65px;
     margin-top: -120px;
    font-weight: 600;
    margin-bottom: 0px;
   }
   #main-body{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 15px;
    margin-left: 15px;
    display: block;
  }
  
 h1{
  margin-top: -40px;
  margin-left: 150px;
  letter-spacing: normal;
  font-size: 30px;
}
#main-body .img{
  border-radius: 15px;
  margin: 25px;

}
@media (max-width:560px){
  .menu { 
    display:none;
    position: absolute;
    right: -30px;
    left: 0;
    text-align: center;
    padding: 16px 0;
    margin-left: -60px;
    z-index: 1;
    line-height: 7px;
    font-size: 10px;

   }
  .hamburger {
    position: absolute;
   display: block;
   font-size: 14px;
   margin-left: -200px;
 
  }
  h1{
    margin-left: 70px;
    letter-spacing: normal;
    font-size: 20px;
  }
  .social{
    width: 500px;
  }
 
  .sociali img{
    width: 35px;
    height: 35px;
   
  }
  ul.social-set {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    margin-top: 100px;
    margin-left: 5px;
    margin-right: 25px;
    padding: 0;
    height: 3px;
    z-index: -1;
  
  }
  ul.social-set li {
  
    display: flex;
    justify-content: center;
    align-items: center;
  }
  div .btn-experience{
    position:absolute;
    padding: 6px;
    margin-left: 25px;
     margin-top: -100px;
    font-weight: 600;
    margin-top: 290px;
   }
}
@media (max-width:360px){
  .menu { 
    display:none;
    position: absolute;
    right: -150px;
    left: 0;
    text-align: center;
    padding: 16px 0;
    margin-left: -60px;
    z-index: 1;
    line-height: 7px;
    font-size: 10px;

   }
  .hamburger {
    position: absolute;
   display: block;
   font-size: 14px;
   margin-left: -150px;
 
  }
  h1{
    margin-left: 70px;
    letter-spacing: normal;
    font-size: 20px;
  }
  .social{
    width: 500px;
  }
 
  .sociali img{
    width: 35px;
    height: 35px;
   
  }
  ul.social-set {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    margin-top: 100px;
    margin-left: 5px;
    margin-right: 25px;
    padding: 0;
    height: 3px;
    z-index: -1;
  
  }
  ul.social-set li {
  
    display: flex;
    justify-content: center;
    align-items: center;
  }
  div .btn-experience{
    position:absolute;
    padding: 6px;
    margin-left: 25px;
     margin-top: -100px;
    font-weight: 600;
    margin-top: 290px;
   }
}
}
