/* UTILITIES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   }
   body {
    font-family: Open Sans;
    background-color:#135780 ;
   }
   a {
    text-decoration: none;
   }
   li {
    list-style: none;
   }

   /* NAVBAR STYLING STARTS */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    color: #fff;
   }
   .nav-links a {
    color: #fff;
   }



   /* LOGO */
   .logo {
    font-size: 32px;
    /* font-size: 85px; */
    font-weight: bold;
    color: rgb(20, 20, 20);
    padding-right: 15px;
    padding-left: 150px;
    padding-top: 25px;
   
/* Some animation to the header logo */
    text-shadow: 0 0 50px rgb(0, 223, 252),
                0 0 50px rgb(10, 12, 161),
                0 0 50px rgb(252, 0, 126),
                0 0 50px lawngreen,
                0 0 50px rgb(252, 0, 55);
    animation: animate 5s linear infinite;

@keyframes: animate {
        0%{
            filter :hue-rotate(0deg);
        }
  filter: hue-rotate(360deg) ;
}
   }

img {
    float: right;
    margin: 60px;
    border-radius: 15px;
    width: 150px;
    margin-right: 90px;
   
  }
  .image {
    flex-basis: 30%;
    order: 2;
  }
  .text {
    position: absolute;
    padding-left: 350px;
    line-height: 66px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    text-align: left;
    letter-spacing: 12px;
    margin-top: 150px;

  }
  .text-01{
    text-indent: 3cm;
  }
  .greeting-hand{
      width: 65px;
      height: 65px;
      top:-20px;
      left: 359px;
      
  }
  .text img{
    position:absolute;  
    text-align:center;
  }
  .message{
    width: 1000px;
    padding-left: 350px;
    margin-top: 450px;
    line-height: 28px;
    color: white;

    font-size: 18px;



  }
   /* NAVBAR MENU */
   .menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
   }
   .menu li:hover {
    background-color: #1a7272;
    border-radius: 5px;
    transition: 0.3s ease;
   }
   .menu li {
    padding: 5px 14px;
   }
   /* DROPDOWN MENU */
   .services {
    position: relative; 
   }
   .dropdown {
    background-color: rgb(1, 139, 139);
    padding: 1em 0;
    position: absolute; /*WITH RESPECT TO PARENT*/
    display: none;
    border-radius: 8px;
    top: 35px;
   }
   .dropdown li + li {
    margin-top: 10px;
   }
   .dropdown li {
    padding: 0.5em 1em;
    width: 8em;
    text-align: center;
   }
   .dropdown li:hover {
    background-color: #4c9e9e;
   }
   .services:hover .dropdown {
    display: block;
   }

   /*RESPONSIVE NAVBAR MENU STARTS*/
/* CHECKBOX HACK */
input[type=checkbox]{
    display: none;
   } 
   /*HAMBURGER MENU*/
   .hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
   }
   /* APPLYING MEDIA QUERIES */
   @media (max-width: 768px) {
   .menu { 
    display:none;
    position: absolute;
    background-color:teal;
    right: 0;
    left: 0;
    text-align: center;
    padding: 16px 0;
   }
   .menu li:hover {
    display: inline-block;
    background-color:#4c9e9e;
    transition: 0.3s ease;
   }
   .menu li + li {
    margin-top: 12px;
   }
   input[type=checkbox]:checked ~ .menu{
    display: block;
   }
   .hamburger {
    display: block;
   }
   .dropdown {
    left: 50%;
    top: 30px;
    transform: translateX(35%);
   }
   .dropdown li:hover {
    background-color: #4c9e9e;
   }
   }