/* UTILITIES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   }
   body {
    font-family: Open Sans;
    background-color:#135780 ;
   }
   a {
    text-decoration: none;
   }
   li {
    list-style: none;
   }

   /* NAVBAR STYLING STARTS */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    color: #fff;
   }
   .nav-links a {
    color: #fff;
   }


   /* logo*/
   .logo {
    font-size: 32px;
    /* font-size: 85px; */
    font-weight: bold;
    color: rgb(20, 20, 20);
    padding-right: 15px;
    padding-left: 150px;
    padding-top: 25px;
   
/* Some animation to the header logo */
    text-shadow: 0 0 50px rgb(0, 223, 252),
                0 0 50px rgb(10, 12, 161),
                0 0 50px rgb(252, 0, 126),
                0 0 50px lawngreen,
                0 0 50px rgb(252, 0, 55);
    animation: animate 5s linear infinite;

@keyframes: animate {
        0%{
            filter :hue-rotate(0deg);
        }
  filter: hue-rotate(360deg) ;
}
   }

img {
    float: right;
    margin-top: 20px;
    border-radius: 15px;
    width: 150px;
    margin-right: 90px;
   
  }
  
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 155px;
  }

  .container .text-01 h1 {
      /* position:absolute; */
    padding-left: 100px;

    color: white;
    font-weight: bold;
    font-size: 25px;
    letter-spacing: 2px;
    margin-top: -190px;
  
  }
  .icons img{
    margin-top: 90px;
    width: 50px;
}
   /* NAVBAR MENU */
   .menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
   }
   .menu li:hover {
    background-color: #1a7272;
    border-radius: 5px;
    transition: 0.3s ease;
   }
   .menu li {
    padding: 5px 14px;
   }
   
   
   button {
    position: absolute;
    background-color:#c4c4c4;
    color:black;
    padding: 12px 2px;
    width: 100px;
    margin-bottom: 50px ;
  
    border: none;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
    margin-left: 120px;
  }

  button:hover {
    background-color: #1a7272;
    border-radius: 5px;
    transition: 0.3s ease;
  }
   
 
input[type=checkbox]{
    display: none;
   } 
   /*humburger menu*/
   .hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
   }
 
   /*Responsive - menu*/

input[type=checkbox]{
  display: none;
 } 
 /*Hamburger */
 .hamburger {
  display: none;
  font-size: 24px;
  user-select: none;
 }
 /* mediaqueries*/
 @media (max-width: 768px) {
 .menu { 
  display:none;
  position: absolute;
  background-color:teal;
  right: 0;
  left: 0;
  text-align: center;
  padding: 16px 0;
 }
 .menu li:hover {
  display: inline-block;
  background-color:#4c9e9e;
  transition: 0.3s ease;
 }
 .menu li + li {
  margin-top: 12px;
 }
 input[type=checkbox]:checked ~ .menu{
  display: block;
 }
 .hamburger {
  display: block;
 }

 }