*{
    margin: 0;
    padding: 0;
    background-color:#135780 ;
  }
  body{
    width: 100%;
    height: 100%;
    font-family: Open Sans;
  }
  /* Header code css */
  .flex-header-wrapper{
     display: flex;
     display: inline-flex;
  
     height: 100px;
     justify-content: space-between;
     align-items: center;
     margin: 65px;
     word-spacing: 35px;   
     position: fixed;
     display: flex;
     
  }
  .flex-header-wrapper .logo-header{
    font-size: 85px;
    font-weight: bold;
    color: rgb(20, 20, 20);
    padding-right: 800px;
   
  /* Some animation to the header logo */
    text-shadow: 0 0 50px rgb(0, 223, 252),
                0 0 50px rgb(10, 12, 161),
                0 0 50px rgb(252, 0, 126),
                0 0 50px lawngreen,
                0 0 50px rgb(252, 0, 55);
    animation: animate 5s linear infinite;
  
  @keyframes: animate {
        0%{
            filter :hue-rotate(0deg);
        }
  filter: hue-rotate(360deg) ;
  }
  }
  .flex-header-wrapper a{
  
     text-align: center;
     color: white;
     line-height: 25px;
     font-size: 20px;
     border-radius: 4px;
     overflow: auto;
     text-decoration: none;     
  }
  .flex-header-wrapper a:hover{
    background-color: rgb(10, 114, 105);
    text-align: center;
    padding: 12px;
    text-decoration: none;
    line-height: 25px;
    font-size: 18px;
    border-radius: 4px;
  
    
  }
  /* body of my html in css  */
  
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 155px;
  }

  .text {
    padding-left: 130px;
    /* line-height: 66px; */
    color: white;
    font-weight: bold;
    font-size: 18px;
    /* text-align: left; */
    letter-spacing: 2px;
    /* margin-right: 2px; */
    float: left;
  
  }
  .text-01{
    
    font-family: Open Sans;
    letter-spacing: 2px;
    line-height: 26px;
    margin-top: 160px;
    font-size: 25px;
    padding-left: 130px;
    padding-right: 35px;
  }
  