@media screen and (width-max:622px) {
  .content-01 {
    border: 1px solid saddlebrown;
    width: 350px;
    padding-left: 35px;
    margin-top: 80px;
    line-height: 28px;
    color: white;
    font-weight: bold;
    font-size: 15px;
    letter-spacing: 3px;
    font-family: Open Sans;
  }
  img {
    float: none;
    margin: -650px;
    border-radius: 15px;
    width: 95px;
    margin-right: 90px;
}
.text-start {
  font-weight: bold;
  font-size: 18px;
}
.text-01 {
  text-indent: 2.5cm;
  font-weight: bold;
  font-size: 18px;
}
.flex-header-wrapper .logo-header {
  position: absolute;
  font-size: 30px;
  font-weight: bold;
  margin-left: -40px;
}
.flex-header-wrapper {
  display: flex;
  display: inline-flex;
  height: 10px;
  justify-content: center;
  align-items: baseline;
  margin-top: 45px;
  margin-left: 80px;
  word-spacing: 20px;
  position: fixed;
  display: flex;
}
.flex-header-wrapper {
  display: flex;
  display: inline-table;
  height: 60px;
  justify-content: space-between;
  align-items: flex-end;
  /* margin: 85px; */
  /* word-spacing: 35px; */
  position: fixed;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  width: 50px;
  margin-top: 185px;
  margin-right: px;
  margin-left: 505px;
}
}